In [9]:
#Dictionary
person={
    "first":"Isa",
    "last":"Bella",
    "email":"isabell@xyz.com"
}

In [10]:
people={
    "first":["Isa"],
    "last":["Bell"],
    "email":["isabell@xyz.com"]
}

In [32]:
#Creating a list inside dictionart so that its more useful
people={
    "first":["Isa","Jane","John"],
    "last":["Bell","Doe","Brown"],
    "email":["isabell@xyz.com","janedoe@xyz.com","johnbrown@xyz.com"]
}

In [33]:
people["email"]

['isabell@xyz.com', 'janedoe@xyz.com', 'johnbrown@xyz.com']

In [2]:
import pandas as pd

#### Creating a data frame:

In [38]:

df=pd.DataFrame(people)
df

  first   last              email
0   Isa   Bell    isabell@xyz.com
1  Jane    Doe    janedoe@xyz.com
2  John  Brown  johnbrown@xyz.com

#### How to access information within data frames:

In [40]:

df["email"] #or:
df.email

0      isabell@xyz.com
1      janedoe@xyz.com
2    johnbrown@xyz.com
Name: email, dtype: object

In [41]:
type(df["email"])

pandas.core.series.Series

#### Accessing multiple columns:

In [42]:
df[['last','email']] #this will not be a series

    last              email
0   Bell    isabell@xyz.com
1    Doe    janedoe@xyz.com
2  Brown  johnbrown@xyz.com

#### To see all the columns:

In [43]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

#### To see the rows:

In [23]:
#Using iloc:
df.iloc[0]

first                Isa
last                Bell
email    isabell@xyz.com
Name: 0, dtype: object

#### Accessing multiple rows:

In [44]:
df.iloc[[0,1]]

  first  last            email
0   Isa  Bell  isabell@xyz.com
1  Jane   Doe  janedoe@xyz.com

#### Accessing both rows and columns using iloc:

In [52]:
df.iloc[[1,2],2]

1      janedoe@xyz.com
2    johnbrown@xyz.com
Name: email, dtype: object

In [53]:
df.iloc[[1,2],[1,2]]

    last              email
1    Doe    janedoe@xyz.com
2  Brown  johnbrown@xyz.com

In [46]:
df

  first   last              email
0   Isa   Bell    isabell@xyz.com
1  Jane    Doe    janedoe@xyz.com
2  John  Brown  johnbrown@xyz.com

#### Accessing both rows and columns using loc:

In [47]:
df.loc[0]

first                Isa
last                Bell
email    isabell@xyz.com
Name: 0, dtype: object

In [48]:
df.loc[[0,1]]

  first  last            email
0   Isa  Bell  isabell@xyz.com
1  Jane   Doe  janedoe@xyz.com

In [49]:
df.loc[[0,1],'email']

0    isabell@xyz.com
1    janedoe@xyz.com
Name: email, dtype: object

In [50]:
df.loc[[0,1],['email','last']]

             email  last
0  isabell@xyz.com  Bell
1  janedoe@xyz.com   Doe

#### Messing with the data from stackflow:

In [54]:
df=pd.read_csv('data/survey_results_public.csv')
schema_df=pd.read_csv('data/survey_results_schema.csv')

#### To check the number of rows and columns:

In [55]:
df.shape

(89184, 84)

#### To check the name of columns:

In [56]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

#### To get the info of particular column:

In [61]:

df['RemoteWork']

0                                         NaN
1                                      Remote
2        Hybrid (some remote, some in-person)
3        Hybrid (some remote, some in-person)
4                                      Remote
                         ...
89179                                  Remote
89180    Hybrid (some remote, some in-person)
89181                                     NaN
89182    Hybrid (some remote, some in-person)
89183    Hybrid (some remote, some in-person)
Name: RemoteWork, Length: 89184, dtype: object

In [63]:
#to check what are the different responses that we got:
df['RemoteWork'].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    31131
Remote                                  30566
In-person                               12113
Name: count, dtype: int64

In [65]:
#gives the entire survey results(all the rows) of the person
df.loc[0]

ResponseId                           1
Q120                           I agree
MainBranch               None of these
Age                    18-24 years old
Employment                         NaN
                            ...
ProfessionalTech                   NaN
Industry                           NaN
SurveyLength                       NaN
SurveyEase                         NaN
ConvertedCompYearly                NaN
Name: 0, Length: 84, dtype: object

In [66]:
#To find a particular entry:
df.loc[0,'RemoteWork']

nan

In [67]:
#To find a particular entry for multiple people:
df.loc[[0,1,2],'RemoteWork']

0                                     NaN
1                                  Remote
2    Hybrid (some remote, some in-person)
Name: RemoteWork, dtype: object

In [69]:
#Can also be done using slicing:
df.loc[0:2,'RemoteWork'] #The last value is inclusive

0                                     NaN
1                                  Remote
2    Hybrid (some remote, some in-person)
Name: RemoteWork, dtype: object

In [70]:
#To find more than one entries for multiple people:

In [71]:
df.loc[[0,1,2],'RemoteWork':'LearnCode']

,RemoteWork,CodingActivities,EdLevel,LearnCode
0,NaN,NaN,NaN,NaN
1,Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...
2,"Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...