In [1]:
people={
    "first":["Isa","Jane","John"],
    "last":["Bell","Doe","Brown"],
    "email":["isabell@xyz.com","janedoe@xyz.com","johnbrown@xyz.com"]
}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(people)

In [4]:
df

  first   last              email
0   Isa   Bell    isabell@xyz.com
1  Jane    Doe    janedoe@xyz.com
2  John  Brown  johnbrown@xyz.com

#### Filter Mask

In [8]:
#Gives us all the rows that help us to meet a criteria:
filt=(df['last']=='Doe')

In [7]:
filt

0    False
1     True
2    False
Name: last, dtype: bool

#### Filter data frame

In [12]:
df[filt] #or:
#df[df['last']=='Doe']

  first last            email
1  Jane  Doe  janedoe@xyz.com

In [13]:
#This can also be done:
df.loc[filt]

  first last            email
1  Jane  Doe  janedoe@xyz.com

In [14]:
#We can also grab a specific column:
df.loc[filt,'email']

1    janedoe@xyz.com
Name: email, dtype: object

#### Using the operators & and | for filtering:

In [17]:
(df['last']=='Doe') & (df['first']== 'Jane')

0    False
1     True
2    False
dtype: bool

In [18]:
(df['last']=='Isa') | (df['first']=='Bell')

0    False
1    False
2    False
dtype: bool

#### To do the opposite of Filt: